@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4">Hey Coder!! Happy Coding..</h1>
    <p>Check Out -->> <a href="https://www.youtube.com/TrickSoLogic/">Subscribe for more</a>.</p>
</div>
